@import "~/assets/scss/custom_variables.scss";

.m-banner {
  background-color: $white; 
  padding: 10px 0;
  border-bottom: solid 1px $primary;

  span {
    color: $primary;
  }
  .m-logo-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-items: left;
    justify-content: left;
    a {
      display: inline-block;
    }
    .m-logo-container{
      max-width: 6vw;
      min-width: 70px;
    }
    .m-logo{
      max-width: 6vw;
      min-width: 70px;
    }
    .m-title {
      color: $primary;
      display: inline-block;
      vertical-align: baseline;
      font-family: goodsans-regular;
      font-size: 2vw;
      letter-spacing: 1px;
      margin-left: 1vw;
      padding-bottom: 6px;
    }
    .m-sub-title {
      font-family: goodsans-thin;
      font-size: 20px;
      letter-spacing: -1px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .m-sub-title {
    display: none;
  }
  .m-title {
    font-size: 3vw !important;
  }
}

.container {
  min-height: auto;
}