.m-navbar {
    background-color: #ee3f75 !important;
    border-bottom: 1px solid #6c6361;
    .m-icon {
        color: white;
    }
    .m-menu-item {
        a {
            color: white !important;
        }   
    }
}

#m-avatar {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50px;            
}



