@import "../../assets/scss/custom_variables.scss";

.m-highlight-title {
  margin-top: 15px;
  margin-bottom: -15px;
  p {
    color: $grey;
    font-family: "goodsans-black";
    font-size: larger;
  }
}

.m-highlight {
  padding: 0 !important;
  border: 1px solid $light !important;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  .m-highlight-col{
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .m-highlight-image {
    margin: 5px 0;
    width: 100px;
    height: 100px;
  }
}

.m-hightlight-1 {
  line-height: 17px;
  margin: 2% 0;
  p {
    margin: 0px !important;
    text-align: justify;
    text-justify: auto;
  }
  b {
    font-family: "goodsans-bold";
  }
}

.m-hightlight-new {
  color: red;
  font-family: "goodsans-black";
}