@import "~/assets/scss/custom_variables.scss";
.m-status-class {
  font-family: "goodsans-black";
  width: 180px;
  display: inline-flex;
  margin-bottom: 5px;
}
.m-status-content {
  text-transform: capitalize;
}