@import "~/src/assets/scss/custom_variables.scss";

.m-homepage {
  background-color: white;
  .m-introduction {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: auto;
  }
  .m-btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .m-carousel {
    margin: 15px 5px;
    border-radius: 10px;
  }
}
