.m-footer {
    padding: 15px;
    background-color: #ee3f75;
    height: auto !important;
    span {
        color: white;
        font-size: small;  
    }
    .m-sponsor-image {
        margin: 8px 10px;
    }
    .m-copyright{
        color: white;
        font-size: small; 
        font-family: "goodsans-regular";
    }
}

.m-text {
    color: white;
    font-size: small; 
    margin: 0px;
}
.m-sponsor {
    padding-top: 5px;
}
.m-media {
    color: white !important;
}

.m-footer-logo {
    width: 45px;
    height: 45px;
}