@import "~/assets/scss/custom_variables.scss";
.m-main-title {
    h2 {
      font-family: "goodsans-medium";
      
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
.m-subtitle{
    font-family: "goodsans-regular";
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}
.m-facet-title{
    font-family: "goodsans-regular";
    font-size: large;
}

.m-row {
    margin-bottom: 15px;
    margin-right: 5px;
    width: 100%;
}
.card {
    border: none;
    .card-body{
        padding: 10px 0;
        padding-left: 2px;
    }
}

// .h4:focus,
// .h4:active:focus,
// .h4.active:focus,
// .h4.focus,
// .h4:active.focus,
// .h4.active.focus {
//     outline: none;
//     box-shadow:none;
// }

// .collapsed > .when-opened,
// :not(.collapsed) > .when-closed {
//   display: none;
// }

.m-item{
    .m-item-name-accepted{
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 15px;
        font-family: "goodsans-regular";
        color: $primary;
    }
    .m-item-name{
        display: inline-block;
        margin-right: 15px;
        font-family: "goodsans-regular";
        color: $grey;
    }
    .m-item-author{
        font-size: smaller;
    }
    .m-item-vernacularname{
        margin-left: 15px;
        color: $primary;
    }
    .m-item-familyname{
        font-size: small;
    }
}
.filter-queries-key {
    font-weight: bold;
}

