@import "~/assets/scss/custom_variables.scss";
.m-main-title {
    h2 {
      font-family: "goodsans-medium";
      
      margin-top: 30px;
      margin-bottom: 30px;
    }
}

.m-subtitle{
    font-family: "goodsans-regular";
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}
.m-facet-title{
    font-family: "goodsans-regular";
    font-size: large;
}

.filter-queries-key {
    font-weight: bold;
}

@media screen and (max-width:768px){
    .m-responsive-disappear {
        display: none;
    }
}

.search-exclude-higher-taxa {
  margin-bottom: 12px;
}


