// Your variable overrides
@import './custom_variables.scss';

// Bootstrap and its default variables
@import '~/node_modules/bootstrap/scss/bootstrap';

// BootstrapVue and its default variables
@import '~/node_modules/bootstrap-vue/src/index.scss';

@import './default-layout.scss';
@import './navbar.scss';
@import './home.scss';
@import './classification.scss';
@import './search.scss';

.page-header h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}


//
// Matrix key button on static pages
//

.matrix-key-button-link {
  margin-bottom: 1rem;
}

//
// Taxon Concept Overview Tab
//
.vf-taxon-concept-references {
  margin-top: 1.5rem;
}

//
// static content
//
.static-content {
  .m-title {
      text-align: left;
      margin-top: 24px;
  }

  .m-content{
      img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
      }
  }
}

