.m-search, .vf-checklist-page {
  .m-main-title {
    h2 {
      font-family: "goodsans-medium";

      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .m-subtitle{
    font-family: "goodsans";
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .m-facet-title{
    font-family: "goodsans";
    font-size: large;
  }

  .filter-queries-key {
    font-weight: bold;
  }

  @media screen and (max-width:768px){
    .m-responsive-disappear {
        display: none;
    }
  }

  .search-exclude-higher-taxa {
    margin-bottom: 12px;
  }
}

.search-applied-filters {
  &>ul {
    padding-left: 0;
    list-style-type: none;

    &>li {
      margin-left: 0 !important;
    }
  }
}

.search-filters {
  .m-facetvalue {
    display: block;
    color: $primary;
    // text-transform: capitalize;
  }

  .card-body {
    padding-bottom: 0 !important;
    padding-top: 3px !important;
  }

  .btn-sm {
    padding: 2px 6px;
  }
  .m-more {
    color: $primary;
    cursor: pointer;
    margin-bottom: 0;
    font-size: small;
  }

  .m-more:hover {
    text-decoration: underline;
  }
}

#facetModal {
  .m-table {
    width: 100%;
    max-height: 60vh;
  }

  .table {
    margin-bottom: 0;
    width: 99%;
  }

  .m-facet-value {
    color: $primary;
    font-size: small;
//    text-transform: capitalize;
  }

  .m-facet-value:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.m-search-input {
  .mb-4.search-input-type-ahead {
    margin-bottom: 0 !important;
    text-align: left;
    font-size: small;
    .list-group-item {
      padding: 5px 10px;
      color: #000;
    }
  }
}

.vf-search-result {
  .vf-search-result-item {

    a:hover {
      text-decoration: none;
    }
  
    .vf-search-result-item-name-accepted {
      display: inline-block;
      margin-bottom: 10px;
      font-family: "goodsans";
      color: $primary;
    }

    .vf-search-result-item-name {
      display: inline-block;
      font-family: "goodsans";
      color: $grey;
    }

    .vf-search-result-item-author{
      font-size: smaller;
      color: $default-text-color;
      font-style: normal;
    }

    .vf-search-result-item-sensu {
      font-style: normal;
      color: $default-text-color;
    }

    .vf-search-result-item-vernacularname {
      margin-left: 15px;
      color: $primary;
      font-style: normal;
    }

    .vf-search-result-item-familyname {
      font-size: small;
      text-align: right;
    }
  }
}