// theme color - master colors
$primary: #ee3f75;
$melbourne: #00accd;
$cranbourne: #f58220;
$grey: #6c6361;
$black: #000000;

$theme-colors: (
  "melbourne": $melbourne,
  "cranbourne": $cranbourne,
  "grey": $grey,
  "black": $black,
);
// Seasonal colors
$summer: #fff685;
$autumn: #ffce7b;
$winter: #bce4e5;
$spring: #f9c0c7;
//font family

$font-family-sans-serif: "goodsans-thin";
