@import "~/src/assets/scss/custom_variables.scss";

.m-title {
  display: inline-block;
  .m-name {
    font-family: "goodsans-bold";
    margin: 20px 15px 20px 0;
    color: $primary;
    display: inline-block;
  }
  .m-authorship {
    margin-right: 15px;
  }
  .m-vernacular-names {
    font-size: xx-large;
  }
}

.m-protologue {
  margin-bottom: 15px;
  i {
    margin-right: 10px;
  }
}

.m-status-class {
  font-family: "goodsans-black";
  width: 180px;
  display: inline-flex;
  margin-bottom: 5px;
}
.m-status-content {
  text-transform: capitalize;
}

.m-row {
  margin-bottom: 25px;
}
.m-overview-item {
  font-family: "goodsans-bold";
  margin-right: 40px;
}
.m-description-title {
  font-family: "goodsans-black";
  width: 100px;
  display: inline-flex;
  margin-bottom: 5px;
}
.m-description-text {
  margin-left: 5px;
}

.scientific_name {
  color: $primary;
  font-style: italic;
}

.m-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .m-map-container {
    width: 480px;
    height: 290px;
  }

  .m-image-container {
    width: 177px;
    height: 177px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      max-width: 170px;
      max-height: 170px;
      padding: 0;
      background-color: none;
      border: none;
      border-radius: none;
    }
  }
}

.m-modal-class {
  background-color: fade-in($color: #00000069, $amount: 0);
  .modal-content {
    margin: 5vh 10vw;
    .modal-header {
      .modal-title {
        font-family: "goodsans-medium";
      }
    }
    .modal-body {
      .m-modal-iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.m-heroimage-container {
  border-radius: 10px;
  border: grey solid 1px;
  background-color: white;
  height: 205px;
  width: 340px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 195px;
    max-width: 330px;
  }
}
.m-dictribution-map {
  margin-top: 8px;
}

.viewer-title {
  line-height: 2 !important;
}

.breadcrumb {
  background-color: white;
  margin: 0;
  padding-left: 0;
  align-items: start;
}

.m-breadcrumb-selector-item {
  margin-top: -10px;
  display: inline-block;
  .custom-select-sm {
    font-size: 11px;
  }
}

.nav-link {
  font-family: "goodsans-bold" !important;
}

.m-distribution-title {
  font-family: "goodsans-medium";
  margin-bottom: 20px;
}
.m-legend {
  margin-left: -30px;
}
.m-table {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .m-table-color-box {
    height: 12px;
    width: 28px;
    background-color: yellowgreen;
    border: 1px solid $grey;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
  }
  th {
    font-family: "goodsans-thin";
    color: white;
    background-color: $grey;
  }
}
