@import "~/src/assets/scss/custom_variables.scss";

.m-title{
  display: inline-block;
  .m-name {
    font-family: "goodsans-bold";
    margin: 20px 15px 20px 0;
    color: $primary;
    display: inline-block;
  }
  .m-authorship {
    margin-right: 15px;
  }
  .m-vernacular-names {
    font-size: xx-large;
  }
}

.m-protologue{
  margin-bottom: 15px;
  i {
    margin-right: 10px;
  }
}


.m-status-class {
  font-family: "goodsans-black";
  width: 180px;
  display: inline-flex;
  margin-bottom: 5px;
}
.m-status-content {
  text-transform: capitalize;
}

.m-row {
  margin-bottom: 25px;
}
.m-overview-item {
  font-family: "goodsans-bold";
  margin-right: 40px;
}
.m-description-title {
  font-family: "goodsans-black";
  width: 100px;
  display: inline-flex;
  margin-bottom: 5px;
}
.m-description-text {
    margin-left: 5px;
}

.scientific_name {
    color: $primary;
    font-style: italic;
}

.m-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .m-image{
        width: 200px;
        height: 150px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
}

.breadcrumb{
  background-color: white;
  margin: 0;
  padding-left: 0;
  align-items: start;
}

.m-breadcrumb-selector-item{
  margin-top: -10px;
  display: inline-block;
  .custom-select-sm{
    font-size: 11px;
  }
}