.m-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .m-map-container {
      width: 480px;
      height: 290px;
    }
  
    .m-image-container {
      width: 175px;
      height: 180px;
      margin-bottom: 5px;
      margin-right: 5px;
      padding: 2px;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
    }
  }