.m-title {
    text-align: left;
    h2 {
        font-family: 'goodsans-medium';
    }
}

.m-content{
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

