@import "~/src/assets/scss/custom_variables.scss";
.m-container {
    height: 72vh;
}
.m-row {
    margin-bottom: 8px;
}
.m-title {
  h2 {
    font-family: "goodsans-medium";
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
.m-taxon-treedefitem-name {
    color: $grey;
}
.m-taxon-name{
    font-family: "goodsans-black";
}
.m-indent {
    width: 15px;
}
.m-hr-top {
    margin-top: 2px;
    margin-bottom: 10px;
}
.m-hr-bottom {
    margin-top: 12px;
    margin-bottom: 2px;
}
.m-author{
    font-family: "goodsans-regular";
    color: $grey;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .m-indent {
        display: none;
    }
  }