@import "~/assets/scss/custom_variables.scss";

.m-title {
  h2 {
    font-family: "goodsans-medium";
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
.m-taxon-treedefitem-name {
    color: $grey;
}
.m-taxon-name{
    font-family: "goodsans-black";
}
.m-indent {
    width: 15px;
}
.m-hr-top {
    margin-top: 2px;
    margin-bottom: 10px;
}
.m-hr-bottom {
    margin-top: 12px;
    margin-bottom: 2px;
}


@media screen and (max-width: 600px) {
    .m-indent {
        display: none;
    }
  }