@import "@/assets/scss/custom_variables.scss";

.m-homepage {
  background-color: white;
  .m-introduction {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: auto;
  }
  .m-btn {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    a {
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .m-carousel {
    margin: 15px 5px;
    border-radius: 10px;
  }
  .container {
    min-height: auto;
  }

  .btn-primary {
    background-color: $light;
    border-color: $light;
    color: $primary;
    font-weight: bold;
  }
}
