@import "~/assets/scss/custom_variables.scss";
.m-title {
  display: inline-block;
  .m-name {
    font-family: "goodsans-bold";
    margin: 20px 15px 20px 0;
    color: $primary;
    display: inline-block;
  }
  .m-authorship {
    margin-right: 15px;
  }
  .m-vernacular-names {
    font-size: xx-large;
  }
}
.m-protologue {
    margin-bottom: 15px;
    i {
      margin-right: 10px;
    }
  }