.m-main-title {
    h2 {
      font-family: "goodsans-medium";
      
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .m-subtitle{
    display: inline-block;
    font-family: "goodsans-regular";
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}